@use '../abstracts' as *;

a,
button {
    pointer-events: auto;
}

%link {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    font-family: $font-primary;

    &:has(img) {
        @include set-flex(row, flex-start, flex-end, 0.75rem);
    }

    .icon {
        height: 1.5rem;
    }
}

%padding {
    padding: 1rem 2rem 0.9rem 2rem;
    border: 1px solid currentColor;
}

.link-outline {
    @extend %link, %padding;
    text-transform: uppercase;
}

.link-outline-icon {
    @include set-flex(row, center, center);
    border: 1px solid currentColor;
    width: 3.5rem;
    height: 3.5rem;

    .icon {
        width: 1.5rem;
    }
}

.btn {
    @extend %link;
    @include set-flex(row, flex-start, stretch);
    background: $color-white;
    color: $color-black;
    border: 1px solid currentColor;

    .btn-box {
        padding: 1rem 2rem 0.9rem 2rem;
        border-right: 2px solid currentColor;
    }

    .icon-box {
        @include set-flex(row, center, center);
        width: 3.55rem;

        svg {
            height: 1.25rem;
        }
    }
}
