@use '../abstracts' as *;

a,
button {
    pointer-events: auto;
}

%link {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    font-family: $font-primary;
    position: relative;

    &:has(img) {
        @include set-flex(row, flex-start, flex-end, 0.75rem);
    }

    .icon {
        height: 1.5rem;
    }
}

%padding {
    padding: 1rem 2rem 0.9rem 2rem;
    border: 1px solid currentColor;
    transition: all 0.3s $ease-in-out-cubic;
}

.link-outline {
    @extend %link, %padding;
    text-transform: uppercase;

    &:hover,
    &.active {
        background: $color-orange;
        color: $color-white;
    }
}

.link-outline-icon {
    @include set-flex(row, center, center);
    border: 1px solid currentColor;
    width: 3.5rem;
    height: 3.5rem;

    .icon {
        width: 1.5rem;
    }
}

.btn {
    @extend %link;
    @include set-flex(row, flex-start, stretch, 0.25rem);

    .btn-box {
        background: $color-white;
        color: $color-black;
        padding: 1rem 2rem 0.9rem 2rem;
        border: 1px solid $color-white;
    }

    .icon-box {
        @include set-flex(row, center, center);
        width: 3.55rem;
        background: $color-white;
        color: $color-black;
        border: 1px solid $color-white;

        svg {
            height: 1.25rem;
        }
    }

    &.border {
        .icon-box,
        .btn-box {
            border-color: currentColor;
        }
    }
}

.slider-prev,
.slider-next {
    @include set-flex(row, center, center);
    width: 3.55rem;
    height: 3.55rem;
    border: 1px solid currentColor;

    svg {
        height: 1.25rem;
    }
}

.slider-prev {
    transform: rotate(-180deg);
}

.slider-controls {
    @include set-flex(row, center, center, 0.25rem);
}

%hover-underline {
    &::after {
        content: '';
        position: absolute;
        bottom: -0.25rem;
        left: 0;
        width: 100%;
        height: 1px;
        background: currentColor;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 1s $animation-smooth;
    }

    &:hover::after {
        transform-origin: left;
        transform: scaleX(1);
    }

    &.active {
        &::after {
            transform-origin: left;
            transform: scaleX(1);
        }

        &:hover::after {
            transform-origin: right;
            transform: scaleX(0);
        }
    }
}

p {
    .link {
        &::after {
            transform-origin: left;
            transform: scaleX(1);
        }

        &:hover::after {
            transform-origin: right;
            transform: scaleX(0);
        }
    }
}

.link {
    @extend %link, %hover-underline;
    font-size: 1.6rem;
    font-weight: 500;
}

.link-xs {
    @extend %link, %hover-underline;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.btns-wrapper {
    @include set-flex(row, flex-start, center, 0.5rem);
    border: 1px solid currentColor;
    padding: 0.5rem;
}
