@use '../abstracts' as *;

h1 {
    font-size: 5rem;
    font-weight: 500;
    line-height: 1.25;
}

h2 {
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.25;
}

h3 {
    font-size: 3.25rem;
    font-weight: 500;
    line-height: 1.25;
}

h4 {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.25;
}

h5 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.25;
}

h6 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.45;
}

p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.45;
}

.paragraph-lg {
    font-size: 2rem;
}

label,
.paragraph-sm {
    font-size: 1.6rem;
}

.paragraph-xs {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.tag {
    @include set-flex(row, flex-start, flex-start, 0.75rem, nowrap);
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;

    svg {
        width: 4rem;
        margin-top: 0.65rem;
    }

    &.orange {
        svg {
            color: $color-orange;
        }
    }

    &.blue {
        svg {
            color: $color-blue;
        }
    }
}

.orange:not(.tag) {
    color: $color-orange;
}

.blue:not(.tag) {
    color: $color-blue;
}
