@use '../abstracts' as *;

.drop-down {
    @extend %size-contain;
    position: relative;

    .drop-down-content {
        @include set-flex(column, flex-start, stretch);
        width: max-content;
        position: absolute;
        top: calc(100%);
        right: 0;
        background: $color-black;
        color: $color-white;
        transition: opacity 0.2s ease;
        opacity: 0;
        visibility: hidden;

        .dd-btn {
            font-size: 1.6rem;
            padding: 1.5rem 3.5rem;
        }
    }

    &:hover {
        .drop-down-content {
            opacity: 1;
            visibility: visible;
        }
    }
}
