@use '../abstracts' as *;

.content-section {
    @include set-grid(2, 12.5rem);
    // align-items: center;
    padding: $padding;

    .content-box {
        max-width: 77.5%;
        width: 100%;

        .list {
            @extend %size-cover;
            @include set-flex(column, flex-start, flex-start, 3rem);
            margin: 1rem 0;

            .list-item {
                @extend %size-cover;
                @include set-flex(column, flex-start, flex-start, 1rem);
                border-bottom: 0.5px solid currentColor;
                padding-bottom: 3rem;
            }
        }
    }

    .content-figure {
        padding-top: 6rem;

        img {
            height: 100%;
        }
    }

    &.reverse {
        .content-box {
            order: 1;
            margin-left: 15rem;
        }

        .content-figure {
            order: 2;
        }
    }
}

.certification {
    .container {
        @include set-flex(column, flex-start, flex-start, 10rem);
        padding: $padding;

        .certification-grid {
            @extend %size-cover;
            @include set-flex(row, space-between, center, 7.5rem);

            .certification-figure {
                @include set-flex(row, center, center);
                width: max-content;
            }
        }
    }
}

.types {
    .container {
        @include set-flex(row, space-between, flex-start);
        padding: $padding;

        .content-box {
            @include set-flex-size(45%);
        }

        .type-list {
            @include set-flex-size(50%);
            @include set-grid(5, 2.5rem);

            .type-item {
                @include set-flex(column, flex-end, flex-start, 1rem);
                text-transform: uppercase;

                .icon-box {
                    @include set-flex(row, center, center);
                    width: 100%;
                    height: 15rem;
                    border: 1px solid currentColor;
                }
            }
        }
    }
}

.contact {
    .container {
        @include set-flex(row, space-between, center);
        padding: $padding;
        color: $color-white;

        .form-wrapper {
            @include set-flex-size(40%);

            form {
                @extend %size-cover;
                @include set-grid(2);
                row-gap: 4rem;
                column-gap: 2.5rem;

                textarea,
                .checklists {
                    grid-column: 1 / -1;
                }

                .checklists {
                    @include set-flex(column, flex-start, flex-start, 1rem);
                    margin-top: 2rem;
                }

                .btn {
                    max-width: max-content;
                }
            }
        }
    }
}

.brands {
    @include set-flex(column, flex-start, flex-start, 12.5rem);
    padding: $padding;

    .section-header {
        max-width: 85%;
        margin: 0 auto;
    }

    & > .tag {
        display: none;
        margin: 0 auto;
        width: 100%;
        max-width: 85%;
        padding-top: 5rem;
        border-top: 0.5px solid rgba($color-dark, 0.5);
    }

    .embla {
        pointer-events: none;
        overflow: visible;

        .embla__container {
            .embla__slide {
                flex: 0 0 auto;
                margin-right: 20rem;

                img {
                    width: auto;
                    height: auto;
                }
            }
        }
    }
}

@include responsive(xl) {
    .content-section {
        grid-template-columns: repeat(1, 1fr);
        gap: 7.5rem;

        &:has(.content-box .content-figure.mobile-only) {
            & > .content-figure {
                display: none;
            }

            .content-box {
                margin: 0;
                max-width: 100%;

                & > *:not(.content-figure.mobile-only) {
                    max-width: 85%;
                    margin: 0 auto;
                    width: 100%;
                }
            }
        }

        .content-box {
            max-width: 85%;
            margin: 0 auto;
            order: -1;

            .content-figure {
                margin: 2.5rem 0;
            }
        }

        .content-figure {
            padding-top: 0;
        }

        &.reverse {
            .content-box {
                margin: 0 auto;
                order: -1;
            }
        }
    }

    .brands {
        .embla {
            .embla__container {
                .embla__slide {
                    margin-right: 10rem;
                }
            }
        }
    }

    .types {
        .container {
            gap: 7.5rem;

            .content-box,
            .type-list {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

    .certification {
        .container {
            gap: 7.5rem;
        }
    }

    .contact {
        .container {
            gap: 7.5rem;

            .content-box,
            .form-wrapper {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .form-wrapper {
                form {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }
}

@include responsive(md) {
    .brands {
        gap: 5rem;

        .section-header {
            .header-box {
                &:nth-child(1) {
                    display: none;
                }
            }
        }

        & > .tag {
            display: flex;
        }

        .embla {
            display: block;
        }
    }

    .certification {
        .container {
            .certification-grid {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4rem;
            }
        }
    }

    .types {
        .container {
            .type-list {
                grid-template-columns: repeat(6, 1fr);
                row-gap: 4rem;

                .type-item {
                    &:not(:nth-child(1), :nth-child(2)) {
                        grid-column: span 2;

                        .icon-box {
                            height: 12rem;
                        }
                    }

                    &:nth-child(1),
                    &:nth-child(2) {
                        grid-column: span 3;

                        .icon-box {
                            height: 18rem;
                        }
                    }
                }
            }
        }
    }
}
