@use '../abstracts/' as *;

.related {
    @include set-flex(column, flex-start, flex-start, 10rem);
    padding: $padding;
    overflow: visible;

    .header {
        max-width: 85%;
        margin: 0 auto;

        .header-box {
            &:nth-child(2) {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .embla {
        overflow: visible;

        .embla__container {
            .product-slide {
                @include set-flex(column, flex-start, flex-start, 0, nowrap);
                flex: 0 0 36.5rem;
                max-width: 36.5rem;
                width: 100%;
                margin-right: 2.4rem;

                img {
                    width: 100%;
                    height: 26.5rem;
                }

                .slide-content {
                    @include set-flex(column, space-between, flex-start, 2.4rem);
                    width: 100%;
                    flex: 1;
                    background: $color-orange;
                    color: $color-white;
                    padding: 4rem;
                }
            }
        }
    }
}
