@use '../abstracts' as *;

.banner {
    .container {
        @include set-flex(column, center, center);
        padding: 10rem 0;
        gap: 4rem;

        h1 {
            font-size: 4rem;
        }
    }
}
