@use '../abstracts/' as *;

.page-wrapper:has(.product-details) {
    overflow: visible;
}

.products {
    .container {
        @include set-flex(column, flex-start, flex-start, 12.5rem);
        padding: $padding-sm;

        .section-header {
            .header-box {
                .cap-icon {
                    align-self: flex-end;
                }
            }
        }

        .products-grid {
            @extend %size-cover;
            @include set-grid(2);
            row-gap: 7.5rem;
            column-gap: 10rem;

            .product-card {
                @include set-flex(row, space-between, stretch);

                .product-figure {
                    @include set-flex-size(35%);

                    img {
                        height: 100%;
                    }
                }

                .card-content {
                    @include set-flex-size(60%);
                    @include set-flex(column, space-between, flex-start);

                    h3 {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.resources {
    .container {
        @include set-flex(column, flex-start, flex-start, 10rem);
        padding: $padding-sm;

        .resources-grid {
            @extend %size-cover;
            @include set-grid(4, 2.5rem);

            .resource-card {
                @include set-flex(column, flex-start, flex-start, 4rem);
                border: 1px solid $color-white;
                padding: 4rem 3rem;
                transition: all 0.2s $ease-in-out-cubic;

                .btns {
                    margin-top: auto;
                }

                &:hover {
                    background: $color-white;
                    color: $color-dark;

                    .btns {
                        .btn {
                            .btn-box,
                            .icon-box {
                                border: 1px solid currentColor;
                            }
                        }
                    }
                }
            }
        }
    }
}

.product-details {
    overflow: visible;

    .container {
        @include set-flex(row, space-between, flex-start);
        padding: $padding;
        overflow: visible;

        .slider-wrapper {
            @include set-flex-size(40%);
            @include set-flex(row, space-between, stretch);
            position: sticky;
            top: 15rem;

            .slider-tabs {
                @include set-flex(column, flex-start, flex-start, 1.8rem);
                max-width: 17.5%;
                width: 100%;

                .slider-tab {
                    width: 100%;

                    img {
                        width: 100%;
                        height: 10.75rem;
                    }
                }
            }

            .embla {
                max-width: 80%;

                .embla__container {
                    .embla__slide {
                        img {
                            width: 100%;
                            height: 50rem;
                        }
                    }
                }
            }
        }

        .product-content {
            @include set-flex-size(50%);
            @include set-flex(column, flex-start, flex-start, 4rem);

            & > .content-box {
                border-top: 0.5px solid currentColor;
                padding-top: 3.5rem;

                .year-bar {
                    @extend %size-cover;
                    @include set-flex(row, space-between, center, 2.4rem);

                    img {
                        width: 10.5rem;
                    }

                    .bar-content {
                        flex: 1;
                    }
                }

                &:has(.year-bar) {
                    margin-top: 4rem;
                    padding: 3.5rem 0;
                    border-bottom: 0.5px solid currentColor;
                }
            }

            .tab-panel {
                @extend %size-cover;
                @include set-flex(column, flex-start, flex-start, 4rem);
                margin-top: 7.5rem;

                .content-box {
                    .btns-wrapper {
                        margin-top: 2.5rem;
                    }
                }

                .tab-content {
                    @extend %size-cover;
                    margin-top: 2.5rem;

                    .tab-content-list {
                        @extend %size-cover;
                        @include set-flex(column, flex-start, flex-start);

                        .list-item {
                            @extend %size-cover;
                            @include set-flex(row, space-between, center);
                            padding: 2.5rem 0;
                            border-bottom: 0.5px solid currentColor;
                        }

                        &.data-list {
                            .list-item {
                                h6 {
                                    max-width: 27.5%;
                                    width: 100%;
                                }

                                p {
                                    max-width: 70%;
                                    width: 100%;
                                }
                            }
                        }

                        a:hover {
                            color: $color-orange;

                            h6 {
                                text-decoration: 1px solid underline;
                                text-underline-offset: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.full-image-section {
    figure {
        img {
            min-height: $vh;
        }
    }
}
