extends /layouts/default

block content
    section.banner
        .container
            .content-box
                h1(data-animation="reveal") The Leading Supplier of<br/> Building Materials in the<br/> Irish Construction Market.
                p(data-animation="reveal" data-animation-delay="100") Laydex delivers sustainable, innovative building solutions that meet the evolving needs of the construction industry. In partnership with global manufacturers, we’re committed to providing premium products that support Ireland’s construction growth.
                .btns(data-animation="reveal" data-animation-delay="200")
                    +btn('DISTRIBUTION DIVISION', '/')
                    +btn('SPECIFICATION DIVISION', '/')
                    +btn('CONTACT US', '/')
        .bg
            img.image(src="/images/home/banner.png", alt="image")

    section.divisions.bg-dark
            .divisions-header
                .header-box(data-animation="reveal")
                    +tag('RANGE', 'orange')
                .header-box(data-animation="reveal" data-animation-delay="100")
                    h2 Product areas that matches your needs
                .header-box(data-animation="reveal" data-animation-delay="200")
                    +btn('SEE ALL', '/')

            .embla.carousel-slider(data-animation="reveal")
                .embla__container
                    each i in [1,2]
                        .embla__slide
                            .slide-content
                                +tag('DISTRIBUTION DIVISION', 'orange')
                                .content-box
                                    h3 Passive Fire Protection
                                    p Passive fire protection products specified for safety, compliance, and performance.
                                    +btn('EXPLORE', '')
                            .bg
                                img.image(src="/images/home/r-1.png", alt="image")
                        .embla__slide
                            .slide-content
                                +tag('DISTRIBUTION DIVISION', 'orange')
                                .content-box
                                    h3 Roofing
                                    p Specified roofing systems for architects, contractors, and complex projects.
                                    +btn('EXPLORE', '')
                            .bg
                                img.image(src="/images/home/r-2.png", alt="image")
                        .embla__slide
                            .slide-content
                                +tag('DISTRIBUTION DIVISION', 'orange')
                                .content-box
                                    h3 Building Products
                                    p Nationwide distributor of essential building materials to builders’ merchants and retailers.
                                    +btn('EXPLORE', '')
                            .bg
                                img.image(src="/images/home/r-3.png", alt="image")
                        .embla__slide
                            .slide-content
                                +tag('SPECIFICATION DIVISION', 'orange')
                                .content-box
                                    h3 Flooring
                                    p Specified flooring products specified for commercial and project–based applications
                                    +btn('EXPLORE', '/')
                            .bg
                                img.image(src="/images/home/r-4.png", alt="image")
                        .embla__slide
                            .slide-content
                                +tag('SPECIFICATION DIVISION', 'orange')
                                .content-box
                                    h3 Radon & Gas Protection
                                    p Certified radon and gas protection systems for specification and compliance.
                                    +btn('EXPLORE', '/')
                            .bg
                                img.image(src="/images/home/r-5.png", alt="image")

    section.content-section.bg-orange
        figure.content-figure(data-animation="reveal")
            img.image(src="/images/home/image-1.png", alt="image")
        .content-box(data-animation="reveal" data-animation-delay="100")
            +tag('ABOUT US')
            h2 Building Excellence Since 1995: Innovation, Quality, and Expertise You Can Trust
            figure.content-figure.mobile-only
                img.image(src="/images/home/image-1-mobile.png", alt="image")
            p Laydex Building Solutions, founded in 1995, is an independent Irish company supplying leading construction brands across roofing, flooring, and building products. From our Dublin centre, we deliver innovative, cost-effective solutions with expert support and design guidance, serving contractors, specifiers, and retailers nationwide.
            +btn('ABOUT US', '/about.html')

    section.expertise
            .header
                .header-box(data-animation="reveal")
                    +tag('Evolving Expertise', 'orange')
                .header-box(data-animation="reveal" data-animation-delay="100")
                    h2 Updates, Expertise and Innovations
                    .box-bar
                        .btns
                            +btn('SEE ALL', '/', 'border')
                        .slider-controls
                            +prev
                            +next

            .embla.carousel-slider(data-animation="reveal" data-animation-delay="200")
                .embla__container
                    each i in [1,2]
                        .embla__slide
                            figure.slide-figure
                                img.image(src="/images/home/s-1.png", alt="image")
                            .content-box
                                p.paragraph-lg Roofing
                                h3 Commercial Vinyl Flooring Project
                                p.paragraph-sm Providing a ceramic concrete look, the IVC Matrix 70 Luxury vinyl tiles were installed in two Chadwicks branches recently. Easy to clean and easy to install, efficient in any space, makes this floor ideal for high...
                                .btns
                                    +btn('VIEW', '/', 'no-border')
                        .embla__slide
                            figure.slide-figure
                                img.image(src="/images/home/s-2.png", alt="image")
                            .content-box
                                p.paragraph-lg Roofing | Project
                                h3 Residential Apartment Block Roof Project.
                                p.paragraph-sm Providing a ceramic concrete look, the IVC Matrix 70 Luxury vinyl tiles were installed in two Chadwicks branches recently. Easy to clean and easy to install, efficient in any space, makes this floor ideal for high...
                                .btns
                                    +btn('VIEW', '/', 'no-border')
                        .embla__slide
                            figure.slide-figure
                                img.image(src="/images/home/s-3.png", alt="image")
                            .content-box
                                p.paragraph-lg Flooring | Article
                                h3 Resitrix SK W & Sage Artificial Grass Residential Project.
                                p.paragraph-sm Bam Construction contracted Philipe tiling Galway to install the floor finishes at the new Clinical Research Facility & Translational Research facility (CRF-TRF) Galway. Following an on-site inspection by Tremco...
                                .btns
                                    +btn('VIEW', '/', 'no-border')
                        .embla__slide
                            figure.slide-figure
                                img.image(src="/images/home/s-4.png", alt="image")
                            .content-box
                                p.paragraph-lg Flooring
                                h3 Saint Mary’s Secondary School
                                p.paragraph-sm Consideration was given to the overall floor finishes and colours. It was decided to use Tarkett 2.5mm Veneto XF2 linoleum and Tarkett Safetred Universal R10. Laydex also included Tremco in the subflo...
                                .btns
                                    +btn('VIEW', '/', 'no-border')

    section.why
        .why-panel
            .container
                .content-box
                    +tag('WHY US', 'white')
                    h2 Partnering with Global Manufacturers, We Supply Premium Products for Builders and Specifiers.
                .why-box
                    h5
                        img.icon(src="/icons/i-1.svg", alt="icon")
                        | Experience
                    p For over 30 years, Laydex have exclusively represented market leading brands in the global construction industry. We have extensive accumulated industry knowledge and, with the support of our industry leading suppliers, we can offer unparalleled levels of support to both on-site and technical specification queries alike.
            .bg
                img.image(src="/images/home/why-1.png", alt="image")

        .why-panel
            .container
                .content-box
                    +tag('WHY US', 'white')
                    h2 Partnering with Global Manufacturers, We Supply Premium Products for Builders and Specifiers.
                .why-box
                    h5
                        img.icon(src="/icons/i-2.svg", alt="icon")
                        | Quality Products
                    p Since our inception we have worked tirelessly to provide top quality products alongside unparalleled technical knowledge and after sales service. Our commitment to quality is evident in the global suppliers we represent in Ireland who ensure that all products undergo stringent inspections and quality control testing.
            .bg
                img.image(src="/images/home/why-2.png", alt="image")

        .why-panel
            .container
                .content-box
                    +tag('WHY US', 'white')
                    h2 Partnering with Global Manufacturers, We Supply Premium Products for Builders and Specifiers.
                .why-box
                    h5
                        img.icon(src="/icons/i-3.svg", alt="icon")
                        | Certification
                    p Our products carry the requisite industry certifications and have passed the necessary requirements as laid out by the NSAI, BBA, European Commission (CE) and ISO to determine that they are of the required standards to be used in their applicable fields.
            .bg
                img.image(src="/images/home/why-3.png", alt="image")

        .why-panel
            .container
                .content-box
                    +tag('WHY US', 'white')
                    h2 Partnering with Global Manufacturers, We Supply Premium Products for Builders and Specifiers.
                .why-box
                    h5
                        img.icon(src="/icons/i-4.svg", alt="icon")
                        | Technical Support
                    p Our customers come back time and again not only due to the superior quality of our products but also because of our unrivalled levels of accumulated industry knowledge, technical support, project expertise, and design assistance.
            .bg
                img.image(src="/images/home/why-4.png", alt="image")

        .why-panel-mobile
            .container
                .content-box
                    +tag('WHY US', 'white')
                    h2(data-animation="reveal") Partnering with Global Manufacturers, We Supply Premium Products for Builders and Specifiers.
                .embla.carousel-slider.no-loop(data-animation="reveal")
                    .embla__container
                        .embla__slide
                            h5
                                img.icon(src="/icons/i-1.svg", alt="icon")
                                | Experience
                            p For over 30 years, Laydex have exclusively represented market leading brands in the global construction industry. We have extensive accumulated industry knowledge and, with the support of our industry leading suppliers, we can offer unparalleled levels of support to both on-site and technical specification queries alike.
                        .embla__slide
                            h5
                                img.icon(src="/icons/i-2.svg", alt="icon")
                                | Quality Products
                            p Since our inception we have worked tirelessly to provide top quality products alongside unparalleled technical knowledge and after sales service. Our commitment to quality is evident in the global suppliers we represent in Ireland who ensure that all products undergo stringent inspections and quality control testing.
                        .embla__slide
                            h5
                                img.icon(src="/icons/i-3.svg", alt="icon")
                                | Certification
                            p Our products carry the requisite industry certifications and have passed the necessary requirements as laid out by the NSAI, BBA, European Commission (CE) and ISO to determine that they are of the required standards to be used in their applicable fields.
                        .embla__slide
                            h5
                                img.icon(src="/icons/i-4.svg", alt="icon")
                                | Technical Support
                            p Our customers come back time and again not only due to the superior quality of our products but also because of our unrivalled levels of accumulated industry knowledge, technical support, project expertise, and design assistance.
            .bg
                img.image(src="/images/home/why-1.png", alt="image")

    section.stats.bg-orange
        .container
            +tag('RESULTS', 'white')
            .stats-box(data-animation="reveal")
                img.icon(src="/images/home/i-1.svg", alt="image")
                h3 28102
                p.paragraph-sm Orders shipped in 2021
            .stats-box(data-animation="reveal" data-animation-delay="100")
                img.icon(src="/images/home/i-2.svg", alt="image")
                h3 1175
                p.paragraph-sm Active Customers
            .stats-box(data-animation="reveal" data-animation-delay="200")
                img.icon(src="/images/home/i-3.svg", alt="image")
                h3 2000+
                p.paragraph-sm Over 2000 products listed

    +tab-section

    section.certification.bg-dark
        .container
            .header
                .header-box(data-animation="reveal")
                    +tag('CERTIFICATIONS', 'orange')
                .header-box(data-animation="reveal" data-animation-delay="100")
                    h3
                        | Our Commitment to&nbsp;
                        span.orange Industry Standards

            .certification-grid
                each image in [1,2,3,4,5]
                    figure.certification-figure(data-animation="reveal" data-animation-delay=`${image * 100}`)
                        img(src=`/images/certifications/${image}.svg`, alt="Icon")
            .embla.mobile-only.autoscroll-slider
                .embla__container
                    each image in [1,2,3,4,5,1,2,3,4,5]
                        .embla__slide
                            img(src=`/images/certifications/${image}.svg`, alt="Icon")
    .-mt-10

    +type-section
