extends /layouts/default

block content
    section.login
        .container.content-bottom
            .content-box(data-animation="reveal")
                h1 New to Laydex?
                p To receive your login details, please contact us. Our customer service team will register you and set up access to your exclusive Laydex partner portal.
                .box
                    p.paragraph-sm Get In Touch
                    a.link(href="/") IE: 01 6426600
                    a.link(href="/") NI: 028 9038 2223
            .form-wrapper(data-animation="reveal" data-animation-delay="100")
                h1 Log In
                form
                    input(type="email", placeholder="Email Address")
                    input(type="password", placeholder="Password")
                    button.btn
                        span.btn-box LEARN MORE
                        .icon-box
                            svg(width="10", height="11", viewBox="0 0 10 11", fill="none", xmlns="http://www.w3.org/2000/svg")
                                path(d="m5.754.5 3.628 5-3.628 5H.98l3.413-4.706.212-.294-.212-.294L.98.5z", stroke="currentColor")


        .bg
            img.image(src="/images/login/banner.png", alt="image")

    +type-section
