extends /layouts/default

block content
    section.banner
        .container.content-bottom
            .content-box
                h1 Eddie McCormack,<br/> Area Sales Manager:<br/> 22 years of growth at Laydex
        .bg
            img.image(src="/images/news/banner.png", alt="image")

    section.news-content-one
        .container
            .content-box
                +tag('Eddie McCormack, Area Sales Manager.', 'orange')
                h3 “A great piece of advice I got<br/> was that a sale is not a sale until<br/> it’s paid for”.
            .content-box
                p The stories behind Laydex’s success are often found in the experiences of our dedicated team members. As part of the anniversary series, this time, we caught up with Eddie McCormack, Area Sales Manager.
                p Eddie’s insights reveal the dedication and teamwork that drive the business forward every day.

    section.news-content-two
        figure.content-figure
            img.image(src="/images/news/image-1.png", alt="image")
        .content-box
            .content-box
                h6 1. Do you remember a memorable piece of advice you’ve ever received at Laydex?
                p One piece of advice has really stuck with me over the years is that “A sale is not a sale until it’s paid for.” This straightforward lesson came from a respected manager, early in my career. It’s a reminder to always follow through and ensure every deal is properly finalised. That mindset has kept me focused and grounded throughout my career.
            .content-box
                h6 2. Can you share any funny or interesting story that happened at work?
                p When we were at Red Cow, I was called to the trade counter to talk to someone who had dropped in to ask about a product, turns out they knew me from my football days and made a fuss of me in front of the staff. A few pictures later, to say I got a lot of ribbing from the staff was an understatement. I left swiftly with a big red face.
            .content-box
                h6 3. Tell me about any project you’re especially proud of.
                p The day-to-day sales is very exciting as well as the continuation throughout the month. But there’s one in particular that stands out from about six or seven years ago. I managed to close a deal worth 100,000€ with one of our leading clients. The level of coordination and detail involved made it very special. We had to work closely with the customer to confirm prices and availability, negotiate cost prices, and carefully manage lead times to make sure the client’s order could be fulfilled on time. It required a lot of logistical planning—checking stock, confirming delivery schedules, and maintaining constant communication between all parties. Seeing that complex process through from start to finish was hugely satisfying and really showed that teamwork and precision are the most important things in sales.
            .news-bottom
                p.paragraph-sm Share this post:
                .btns
                    a.social-link(href="/")
                        img.icon(src="/icons/fb.svg", alt="image")
                    a.social-link(href="/")
                        img.icon(src="/icons/ln.svg", alt="image")
                    a.social-link(href="/")
                        img.icon(src="/icons/insta.svg", alt="image")

    +type-section
