extends /layouts/default

block content
    section.banner
        .container.content-bottom
            .content-box
                h1 Fire Protection Coatings:<br/> Prevention and Immunisation<br/> for Building
        .bg
            img.image(src="/images/news/banner-2.png", alt="image")

    section.content-section.reverse
        figure.content-figure
            img.image(src="/images/news/image-4.png", alt="image")

        .content-box
            h2 Prevention is better than curing
            p this motto applies not only to healthcare, but also to building planning. Passive fire protection measures…are to the fire safety of buildings what immunisations and drugs are to human health.<br/> They impede the outbreak of fires (fire prevention), hamper the spreading of damaging fires and reduce the destructive effects of fires.
            p Fire protection starts right from the planning of a building. Just as with screening examinations for humans when they are babies or infants, the cornerstone for future well-being is also laid at an early stage when constructing buildings. Requirements in terms of fire protection are developed, structural fire protection provisions taken into account and then concepts for fire prevention and protection worked out. This also involves analysis of the fire and smoke behaviour of building materials, along with the fire resistance time of building components.

    section.news-content-four
        .container
            .content-box
                h5 Wide Range of Passive Fire Protection Products
                p
                    | When it comes to preventive care for the building Laydex Building Solutions provides the right products for successful fire protection: for example,&nbsp;
                    a(href="/") intumescent coatings ensure building components have higher resistances.
                    |  These so-called intumescent foam up when there is a major heat impact and thus ensure protection against combustion. The structure of the building component is therefore preserved. Building safety is increased and human life protected.
            .content-box
                h5 Discover our Passive Fire Protection Products for Gaps and Joints
                p
                    a(href="/") Nullifire FJ200 Gap Seal
                    |  is an ideal product to protect linear gaps up to 150 mm. This isometric foam can provide up to two hours of protection from fire and smoke while allowing up to 50% movement.
                p
                    a(href="/") Nullifire FP300 Intumescent Pipe Wrap
                    |  stops the spread of fire and smoke for up to two hours where plastic and composite pipes penetrate walls. It’s easy to use and certified to the latest European standards.
                .btns
                    +btn('more fire-stopping products', '/', 'border')

            .content-box
                p
                    a(href="/") Find out more about our professional fire protection solutions.&nbsp;
                    |  Our range includes&nbsp;
                    a(href="/") intumescent coatings,
                    |  but also&nbsp;
                    a(href="/") linear joint seals,
                    | &nbsp;
                    a(href="/") load bearing seals
                    |  and&nbsp;
                    a(href="/") pipe&penetration closers.
                    |  Take precautions with passive fire protection concepts!
                p
                    | Source:&nbsp;
                    a(href="/") http://www.tremco-illbruck.com
                    |  & Nullifire

            .news-bottom
                p.paragraph-sm Share this post:
                .btns
                    a.social-link(href="/")
                        img.icon(src="/icons/fb.svg", alt="image")
                    a.social-link(href="/")
                        img.icon(src="/icons/ln.svg", alt="image")
                    a.social-link(href="/")
                        img.icon(src="/icons/insta.svg", alt="image")

    +type-section
