extends /layouts/default

block content
    section.privacy
        .container
            .header
                .header-box
                    +tag('Privacy Policy', 'orange')
                .header-box
                    h1
                        | Your Data,&nbsp;
                        span.orange Your Rights

            .privacy-content
                .content-box
                    h4 Website Privacy Notice
                    p This page was last updated on 21/05/2018. When you use Laydex Limited’s website (www.laydex.ie), Laydex Limited shall act as the data controller who processes your personal data. Please read this privacy notice carefully as it sets out how Laydex Limited (“Laydex”) uses your personal information.
                    p Find the contact details of Laydex Data Controller below:<br/> Laydex Limited.<br/> Laydex Ltd, Unit 3 Allied Industrial Estate, Kylemore Rd, Dublin 10
                    p
                        | If you have any questions about this privacy notice please contact us at&nbsp;
                        a(href="/") marketing@laydex.ie.
                    p Laydex building solutions’ products for the builders merchants/hardware, roofing, and flooring sectors allow our customers to create best quality, high performing buildings and other building projects in all sectors.
                    p Laydex processes your personal data in accordance with data protection laws in the Republic of Ireland and the European Union in which it operates.

                .content-box
                    h4 What Is Personal Information?
                    p “Personal information” is information relating to an identified or identifiable individual which we collect when you use this website. When using this website, it is important that you provide us with only your own personal information and ensure that the personal information you provide is accurate and up to date. Please note that you will be responsible for any inaccurate, third party or false personal information that you provide to us.

                .content-box
                    h4 What Information Do We Collect?
                    .box
                        p When you use this website, and subject to your consent to the use of cookies as the case may be, please bear in mind that we may record:
                        ul
                            li the areas of the website that you visit;
                            li the campaign/URL from where you came to the website;
                            li your activity on the website, such as products viewed, resources that you download and any information you provide to us;
                            li information about your computer, such as which browser you are using, your network location and the type of connection you are using (e.g. broadband, ADSL, etc.) and your IP address; and
                            li technical and other information that does not personally identify you.
                    p We do this by using cookies.
                    .box
                        p When you, amongst other activities, submit an online enquiry, request information from us, register for a newsletter, or register for an event, we may ask for some or all of the following information, in addition to such additional information as you may volunteer
                        ul
                            li your name;
                            li role;
                            li company name;
                            li email address;
                            li postal address;
                            li telephone number.
                    p Once you submit information through our website we will know who you are and you acknowledge that your activities on this website and information about you and/or your company may be recorded on our systems.
                    p Some mandatory information is required and you’ll see that indicated by a star (*), but other information is optional and if you don’t want to give it to us, don’t worry. But it will help us to respond to your enquiry. If you don’t provide mandatory information, we may refuse to accede to the request for which this information was requested.
                    p You hereby agree with the collection of personal data as described above.
                .content-box
                    h4 What Do We Do With The Information We Collect?
                    .box
                        p We use this information for the purposes listed below:
                        ul
                            li to identify you and communicate with you;
                            li to comply with our legal obligations;
                            li to investigate and respond to potential violations of law or of our website policies as well as to potential breaches of our systems and networks;
                            li to provide you with this website and our products and services (whether available via the website or offline);
                            li to keep internal records;
                            li to develop products and services;
                            li to develop our website;
                            li to fulfil your requests and answer your queries or complaints;
                            li for market research and to assess marketing strategies and campaigns;
                            li if you already are a customer or other contact of ours, to update our information about our contact with you on our customer relationship management system;
                            li to deliver our own products and services to you;
                            li to market our own products and services to you; through means such as newsletters and invitations to events; contact you about their promotions, services, events and other activities in relation to Laydex products and services.
                    p You acknowledge and confirm your acceptance for Laydex to process your personal data for the purposes listed above.
                .content-box
                    h4 Marketing
                    p We would like to provide you with information about Laydex’s products and services, and other information from Laydex, which we think you may find interesting. We may send you such information by post, email, and/or telephone if you agree we can or unless you have asked us not to do so.
                    p We do not provide your personal information to external organisations (i.e. to contractors, merchants, distributors and retailers, which are outside of Laydex) for their own direct marketing in relation to Laydex products and services without your explicit consent.<br/> If at any time you do not want your information used for direct marketing purposes by a Laydex, please contact Laydex from which you have received marketing so that they can unsubscribe you from their marketing lists. If you have received email marketing from Laydex and decide that you no longer wish to receive marketing emails from us, you will be able to opt out of receiving further email marketing from us by following an unsubscribe link in the email, or by such other means as we may communicate to you.
                    p We may disclose your personal information (if you have so permitted) to third parties located in your country and in countries other than your own, in due compliance with applicable laws. If we have your explicit consent, we may provide your personal information to external organisations (i.e. to contractors, merchants, distributors and retailers, which are outside of Laydex) so that they can contact you about their promotions, services, events and other activities in relation to Laydex products and services without your explicit consent.
                    p Where organisations outside of Laydex provide you with a service on our behalf, or help us provide the service to you (e.g. sending you a piece of literature or a sample that you have requested from us or helping us respond to your request regarding the technical operation of the website), we may share your personal information with those organisations who will only use the information to provide the relevant service.
                    p In some circumstances, we may have to disclose your personal information by law, because a court or the police or other law enforcement agency has asked us for it.
                .content-box
                    h4 Retention Of Your Information
                    p We only retain your personal information for as long as is necessary for us to use your personal information as described above or to comply with our legal obligations.
                    p Where your personal information is processed with your consent (e.g. for the marketing purposes), such personal information is retained until you revoke the consent for such processing, or until the time limit dictated by law is reached.
                .content-box
                    h4 Your Rights, How To Get Copies Of Or Amend The Information We Have Collected And How To Make A Complaint
                    p
                        | You may request details of the personal information that we hold about you under data protection laws. If you would like a copy of the information held about you please make your request to&nbsp;
                        a(href="/") marketing@laydex.ie.
                    p You may oppose the processing of your personal data when there are legitimate grounds to do so, provided that there is no legal obligation for us to carry out this processing, and provided that this right of opposition has not been excluded by an express clause in the document authorising this processing. For the avoidance of doubt, processing for marketing purposes may always be opposed.
                    p If you think any information held by Laydex about you is incorrect, incomplete or is being processed improperly, please write to the Laydex as soon as possible and we will delete, block, correct, update or cease to process any information subject to the terms provided for by the law.
                    p If you wish to make a complaint about an alleged breach of the law, we ask that you send us your complaint in writing to us at the following address: Unit 3, Allied Industrial Estate, Kylemore Rd, Dublin 10. We will respond to complaints and implement any remedies subject to the terms provided for by the law.
                .content-box
                    h4 Security
                    p Laydex is committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure we have put in place suitable physical, electronic and managerial procedures where relevant to safeguard and secure the information we collect.
                .content-box
                    h4 Linking To Other Websites
                    p Our website or marketing email messages sometimes include links to other third party websites which are not within our control.
                    p Once you have left our website/marketing email message, we cannot be held responsible for the content of these third party websites or the protection and privacy of any information which you provide to those websites. You should exercise caution and look at the privacy notice / policy applicable to the website in question.
                .content-box
                    h4 Consent
                    p By using, or continuing to use, this website and/or providing your personal Information after having reviewed this website, you will have consented to the terms and conditions presented to you in this privacy notice, so that we, as the data controller, may continue to process said information unless and until you oppose to one or more of the purposes indicated above or revoke your consent therefore or altogether according to the terms and conditions herein.

    +contact-section
    +type-section
