extends /layouts/default

block content
    section.product-details
        .container
            .slider-wrapper
                .slider-tabs
                    each i in [1,2,3,4]
                        button.slider-tab
                            img.image(src=`/images/products/product-${i}.png`, alt="image")
                .embla.fade-slider
                    .embla__container
                        each i in [1,2,3,4]
                            .embla__slide
                                img.image(src=`/images/products/product-${i}.png`, alt="image")

            .product-content
                +tag('Building Products / Fortessa Door Handles & Accessories / Door Levers On Rose / Fortessa Gotham Box Set', 'orange')
                .content-box(data-animation="reveal")
                    h3 Fortessa Gotham Box Set
                    p With the Gotham Door Handle collection, we bring you a brand new specialised finish of gun metal grey, paired elegantly with polished chrome metal. This collection beckons you to be brave enough to be yourself. Let our Gotham collection levers reflect your personal style.
                    p All Fortessa products undergo thorough testing at all stages of manufacture, and performance of all working parts is rigorously tested . Fortessa handles meet DIN EN 1906 Interior Residential classification standards.
                    h6 Box Set include: Pair of Door Handles, 3 Hinges, Lock with keys
                    h6
                        | Available in Box Sets:&nbsp;
                        a(href="#") Magneto
                        |  |&nbsp;
                        a(href="#") Vadar
                        |  |&nbsp;
                        a(href="#") Mystique
                        |  |&nbsp;
                        a(href="#") Phantom
                        |  |&nbsp;
                        a(href="#") Spectre
                        |  |&nbsp;
                        a(href="#") Taranis
                        |  |&nbsp;
                        a(href="#") Rogue
                    .btns
                        +btn('MAKE AN ENQUIRY', '/' , 'border')
                .content-box(data-animation="reveal" data-delay="100")
                    .year-bar
                        img.image(src="/images/products/10-year.png", alt="image")
                        .bar-content
                            p.paragraph-xs Fortessa Door Handles are covered by a 10 Year Guarantee on mechanical parts. Levers have been tested to pass DIN EN 1906 European Quality Standards. Essentially each door handle is guaranteed for 100,000 revolutions.

                .tab-panel
                    .content-box(data-animation="reveal" data-delay="200")
                        +tag('KNOW MORE', 'orange')
                        h2
                            | Everything You Need&nbsp;
                            span.orange to Know
                        .btns-wrapper
                            button.link-outline.active(data-tab="1") BENEFITS
                            button.link-outline(data-tab="2") TECHNICAL DATA
                            button.link-outline(data-tab="3") DOWNLOADS
                            button.link-outline(data-tab="4") CASE STUDIES
                            button.link-outline(data-tab="5") VIDEO
                    .tab-content.active(data-tab-content="1")
                        .tab-content-list
                            .list-item
                                h6 1. All products undergo thorough testing at all stages of manufacture
                            .list-item
                                h6 2. All Levers must comply to strict quality examinations
                            .list-item
                                h6 3. Each Lever is assessed for its resistance to corrosion and scratches
                            .list-item
                                h6 4. Performance of all working parts is rigorously tested
                            .list-item
                                h6 5. Before dispatch, all collections are carefully checked by eye to ensure their perfection.
                            .list-item
                                h6 6. All levers meet DIN EN 1906 Interior Residential classification standards
                    .tab-content(data-tab-content="2")
                        .tab-content-list.data-list
                            .list-item
                                h6 Durability
                                p Grade 6 (100,000 Cycles)
                            .list-item
                                h6 Category of Use
                                p Medium Frequency of Use
                            .list-item
                                h6 Colour
                                p Metal Grey
                            .list-item
                                h6 Category of Use
                                p Grade 1
                            .list-item
                                h6 Corrosion Resistance
                                p Grade 2 (48 hours Salt atomised Spray)
                            .list-item
                                h6 Full Information
                                p Check out the full datasheet available in the Downloads section!
                    .tab-content(data-tab-content="3")
                        .tab-content-list
                            a.list-item(href="/")
                                h6 Fortessa Gotham Brochure
                                h6 Dowload
                    .tab-content(data-tab-content="4")
                        .cases-list
                                a.project-card(href="/project-single.html")
                                    figure.item-figure
                                        img.image(src="/images/projects/p-1.png", alt="image")
                                    .content-box
                                        p.paragraph-sm Building Products
                                        h4 Resitrix SK W & Sage Artificial Grass Residential Project. Private Dwelling
                                        p.paragraph-sm This unique residential project was completed in 2022. The stunning private dwelling is complete with Resitrix SK W on the flat roof surfaces coupled with Sage...
                                        .btns
                                            button.btn.border
                                                span.btn-box LEARN MORE
                                                .icon-box
                                                    svg(width="10", height="11", viewBox="0 0 10 11", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="m5.754.5 3.628 5-3.628 5H.98l3.413-4.706.212-.294-.212-.294L.98.5z", stroke="currentColor")

                                a.project-card(href="/project-single-2.html")
                                    figure.item-figure
                                        img.image(src="/images/projects/p-2.png", alt="image")
                                    .content-box
                                        p.paragraph-sm Building Products
                                        h4 Colm Quinn BMW Drogheda. Memtech R1 Radon Barrier Installation
                                        p.paragraph-sm This commercial building project required the development of a new premises for Colm Quinn BMW at the M1 Retail Park in Drogheda, Co. Louth. This project...
                                        .btns
                                            button.btn.border
                                                span.btn-box LEARN MORE
                                                .icon-box
                                                    svg(width="10", height="11", viewBox="0 0 10 11", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="m5.754.5 3.628 5-3.628 5H.98l3.413-4.706.212-.294-.212-.294L.98.5z", stroke="currentColor")
                    .tab-content(data-tab-content="5")
                        .video-wrapper
                            iframe(width='560', height='315', src='https://www.youtube.com/embed/IIsCLIGA8UQ?si=CuxWCJlMavQz06oB', title='YouTube video player', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share', referrerpolicy='strict-origin-when-cross-origin', allowfullscreen='')

    section.full-image-section(data-animation="reveal")
        figure.image-wrapper
            img.image(src="/images/products/full.png", alt="image")

    section.related
            .header
                .header-box(data-animation="reveal")
                    +tag('PRODUCTS', 'orange')
                .header-box(data-animation="reveal" data-animation-delay="100")
                    h2 Related Building Products
                    .slider-controls
                        +prev
                        +next

            .embla.carousel-slider(data-animation="reveal" data-animation-delay="200")
                .embla__container
                    each val, i in ['Fortessa Gotham Rogue', 'Fortessa Gotham Spectre', 'Fortessa Gotham Taranis', 'Fortessa Gotham Vadar', 'Fortessa Gotham Magento', 'Fortessa Gotham Phantom']
                        .embla__slide.product-slide
                            img.image(src=`/images/products/pro-${i + 1}.png`, alt="image")
                            .slide-content
                                h5=val
                                +btn('LEARN MORE', '/', 'border')

    +type-section
