footer.footer
    .container
        .footer-panel
            .footer-links
                p.paragraph-sm LINKS
                a.link(href="/")  Home
                a.link(href="/about.html") About
                a.link(href="/products.html") Products
                a.link(href="/") Find a Stockist
                a.link(href="/") Find a Rep
                a.link(href="/") Technical Resources
                a.link(href="/") eCommerce
                a.link(href="/projects.html") Projects
                a.link(href="/news.html") News & Insights
                a.link(href="/") Support & Contact
                a.link(href="/") Retail Excellence
                a.link(href="/account.html") My Account
                a.link(href="/") Cart
            .footer-links
                p.paragraph-sm PRODUCTS
                a.link(href="/products.html") Building Products
                a.link(href="/products-roofing.html") Roofing
                a.link(href="/") Radon & Gas Protection
                a.link(href="/") Flooring
                a.link(href="/") Passive Fire Protection
            .footer-links
                p.paragraph-sm SOCIAL
                a.link(href="/") Facebook
                a.link(href="/") Instagram
                a.link(href="/") Linkedin
            .footer-links
                p.paragraph-sm CONTACT US / DUBLIN
                .footer-box
                    p.paragraph-sm Phone: +353 01 6426600
                    p.paragraph-sm Fax: 01 6426601
                    p.paragraph-sm
                        | Email:&nbsp;
                        a.link(href="/") sales@laydex.ie
                .footer-box
                    p.paragraph-sm Laydex Ltd, Unit 3 Allied Industrial Estate Kylemore Rd, Dublin 10
            .footer-links
                p.paragraph-sm CONTACT US / BELFAST
                .footer-box
                    p.paragraph-sm Phone: +44 28 9038 2223
                    p.paragraph-sm Fax: +44 28 9038 2230
                    p.paragraph-sm
                        | Email:&nbsp;
                        a.link(href="/") sales@laydex.ie
                .footer-box
                    p.paragraph-sm Laydex (NI) Ltd. Units 4/5 Falcon Way, Adelaide Industrial Estate, Belfast BT 12 6SQ

        .footer-bottom
            .footer-bottom-box
                p.paragraph-xs 2026 LAYDEX
                a.link-xs(href="/privacy.html") Privacy Policy
                a.link-xs(href="/") Terms & Conditions
                p.paragraph-xs MADE BY NOISE
            a.footer-logo(href="/")
                img.image(src="/images/footer-logo.svg", alt="image")
