nav.navbar
    .container
        a.logo(href="/")
            img.logo-image(src="/images/logo.svg", alt="Laydex logo")
        .navbar-links
            button.link-outline-icon
                img.icon(src="/icons/search.svg", alt="image")
            a.link-outline(href="/") SERVICES +
            a.link-outline(href="/about.html") ABOUT US
            a.link-outline(href="/products.html") PRODUCTS +
            a.link-outline(href="/") Sales Contacts
            a.link-outline(href="/") Contact US
            a.link-outline(href="/login.html")
                | LOG IN
                img.icon(src="/icons/user.svg", alt="image")
