doctype html
html(lang="en")
    include /partials/head

    body
        include /mixins/button
        include /mixins/sections
        include /components/navbar
        include /components/hamb

        //- content
        .page-wrapper
            block content

        include /components/footer-blue
        include /partials/script
